/* BACKGROUND AND CHARACTERS COLORS */
*{
  font-family: 'Lato', sans-serif;
}
.panel{
  width: 100vw;
}
.backgrdark{
  background-color: #2C3E50;
}
.backgrgreen{
  background-color: #18BC9C;
}
.backgrdark, .backgrgreen{
  color: white;
  text-align: center;
}
.backgrwhite{
  color: #2C3E50;
}
/* HEADER */
header{
  position: sticky;
  top: 0;
  z-index: 5;
}
header h4{
  font-size: 32px;
  font-weight: 700;
  margin: 25px 0;
}
header #menubar{
  font-weight: 700px;
  font-size: 18px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
Header #menubar span{
  display: inline-block;
  padding: 0 20px;
}

/* FIRST BLOCK GREEN */
.backgrgreen img{
  margin: 100px 0 20px;
}
.backgrgreen #bigtitle{
  font-size: 72px;
  font-weight: 700;
}
hr{
  width: 15%;
  border: 3px solid white;
}
.backgrgreen #undertitle{
  margin-bottom: 100px;
}

/* SECOND BLOCK WITH PICTURES */
.paneltitle{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin: 80px 0 10px;
}
.blackrule{
  color: #2C3E50;
  border: 3px solid #2C3E50;
  background-color: #2C3E50;
}
.backgrwhite .images{
  width: 100%;
  margin-bottom: 50px;
}

/* TERZO BLOCCO VERDE */
.description{
  font-size: 20px;
  font-size: 300;
  text-align: left;
}
